.home {

	.palette {
		width: 525px;
		margin: 0 auto;

		td {
			height: 75px;
			border: 1px solid black;
		}

		.grass-light {
			background-color: color(grass-light);
		}
		.grass-base {
			background-color: color(grass-base);
		}
		.grass-dark {
			background-color: color(grass-dark);
		}

		.leaves-light {
			background-color: color(leaves-light);
		}
		.leaves-base {
			background-color: color(leaves-base);
		}
		.leaves-dark {
			background-color: color(leaves-dark);
		}

		.trunk-light {
			background-color: color(trunk-light);
		}
		.trunk-base {
			background-color: color(trunk-base);
		}
		.trunk-dark {
			background-color: color(trunk-dark);
		}

		.mountain-light {
			background-color: color(mountain-light);
		}
		.mountain-base {
			background-color: color(mountain-base);
		}
		.mountain-dark {
			background-color: color(mountain-dark);
		}

		.snow-light {
			background-color: color(snow-light);
		}
		.snow-base {
			background-color: color(snow-base);
		}
		.snow-dark {
			background-color: color(snow-dark);
		}

		.sky-light {
			background-color: color(sky-light);
		}
		.sky-base {
			background-color: color(sky-base);
		}
		.sky-dark {
			background-color: color(sky-dark);
		}

		.water-light {
			background-color: color(water-light);
		}
		.water-base {
			background-color: color(water-base);
		}
		.water-dark {
			background-color: color(water-dark);
		}

	}

}