<div class="home">
	{{test}}

	<table class="palette">
		<tr>
			<td class="grass-light"></td>
			<td class="leaves-light"></td>
			<td class="trunk-light"></td>
			<td class="mountain-light"></td>
			<td class="snow-light"></td>
			<td class="sky-light"></td>
			<td class="water-light"></td>
		</tr>
		<tr>
			<td class="grass-base"></td>
			<td class="leaves-base"></td>
			<td class="trunk-base"></td>
			<td class="mountain-base"></td>
			<td class="snow-base"></td>
			<td class="sky-base"></td>
			<td class="water-base"></td>
		</tr>
		<tr>
			<td class="grass-dark"></td>
			<td class="leaves-dark"></td>
			<td class="trunk-dark"></td>
			<td class="mountain-dark"></td>
			<td class="snow-dark"></td>
			<td class="sky-dark"></td>
			<td class="water-dark"></td>
		</tr>
	</table>

</div>