<div class="home">
	{{test}}

	<a ng-href="./blog">Blog</a>

	<div class="palette">
		<div class="grass-light"></div>
		<div class="grass-base"></div>
		<div class="grass-dark"></div>

		<div class="leaves-light"></div>
		<div class="leaves-base"></div>
		<div class="leaves-dark"></div>

		<div class="trunk-light"></div>
		<div class="trunk-base"></div>
		<div class="trunk-dark"></div>

		<div class="mountain-light"></div>
		<div class="mountain-base"></div>
		<div class="mountain-dark"></div>

		<div class="snow-light"></div>
		<div class="snow-base"></div>
		<div class="snow-dark"></div>

		<div class="sky-light"></div>
		<div class="sky-base"></div>
		<div class="sky-dark"></div>

		<div class="water-light"></div>
		<div class="water-base"></div>
		<div class="water-dark"></div>
	</div>

</div>