$colors: (
	//===== Color Palette =====//

	white:				rgb(255, 255, 255),
	gray-light:			rgb(191, 191, 191),
	gray:				rgb(127, 127, 127),
	gray-dark:			rgb( 64,  64,  64),
	black:				rgb(  0,   0,   0),

	//===== Terrain Colors =====//

	grass-light:		rgb(141, 148,  60),
	grass-base:			rgb(132, 139,  60),
	grass-dark:			rgb(125, 131,  56),

	leaves-light:		rgb( 94, 102,  61),
	leaves-base:		rgb( 63,  68,  44),
	leaves-dark:		rgb( 52,  58,  37),

	trunk-light:		rgb( 80,  59,  58),
	trunk-base:			rgb( 60,  43,  46),
	trunk-dark:			rgb( 46,  33,  38),

	mountain-light:		rgb(115,  58,  63),
	mountain-base:		rgb( 89,  43,  51),
	mountain-dark:		rgb( 81,  39,  48),

	snow-light:			rgb(255, 255, 255),
	snow-base:			rgb(249, 249, 240),
	snow-dark:			rgb(224, 224, 222),

	sky-light:			rgb( 99, 126, 178),
	sky-base:			rgb( 80, 101, 144),
	sky-dark:			rgb( 57,  72, 103),

	water-light:		rgb(104, 158, 153),
	water-base:			rgb( 80, 152, 153),
	water-dark:			rgb( 69, 132, 137),


	//===== Branding Colors =====//
	facebook:			rgb( 59,  89, 152),
	twitter:			rgb( 85, 172, 238),
	gplus:				rgb(221,  75,  57),

	//===== UI Colors =====//
	failure:			rgb(255, 221, 221),
	success:			rgb(204, 238, 187)

);

@function color($key) {
	@if map-has-key($colors, $key) {
		@return map-get($colors, $key);
	}

	@warn "Unknown `#{$key}` in $colors.";
	@return null;
}